<!DOCTYPE html>
<html lang="ja-JP">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="Content-Language" content="ja-JP">
  <link rel="stylesheet" type="text/css" href="<%=h css_url %>">
  <link rel="icon" type="image/png" href="<%=h favicon_url %>">
  <script type="text/javascript" src="<%=h javascript_url %>">
  <title><%=h title %></title>
</head>
<body>
  <div id="header">
  </div>
  <%= yield %>
  <div id="footer">
  </div>
</body>
</html>
